*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    border: solid 1px blue;
      
    font-family: Arial, Helvetica, sans-serif;
}

.centered{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


/* header */

/* ___________nav__________ */

header{
    background-color: rgb(255, 136, 0);

    /* test */
    width: 100%;
    height: 50px;

    position: fixed;

    z-index: 1;
}

.navbar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* test */
.navbar div{
    width: 20%;
}


/* links */
.links ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.links li > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo img{
    height: 30px;
}

/* icone */
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.icons a>img{
    height: 20px;
}


/* main */

/* ____________sezione____________ */

section{
    padding: 1em;
}

.cards-container{
    padding-top: 30px;
}

.inner-row{
    height: 490px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card{
    width: 280px;
    height: 400px;

    position: relative;
}

/* immagini */

.card img{
    width: 100%;
    height: 100%;
}

.hoverimg{
    display: none;

    position: absolute;
    top: 0;
    right: 0;
}

.card:hover .hoverimg{
    display: inline-block;
}

/* badges */


.badge{
    color: white;

    font-size: 12px;
    font-weight: bold;

    padding: 5px 10px;
}    


.discount{
    position: absolute;
    bottom: 20px;
    left: 0;

    background-color: red;
}

.eco{
    position: absolute;
    bottom: 20px;
    left: 50px;

    background-color: green;
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    
    background-color: white;
    padding: 5px 10px;
    border: transparent;
}

.heart:hover{
    color: red;
}

/* immagine info */

.price{
    color: red;
    font-weight: bold;
}

.prev-price{
    color: rgb(84, 83, 83);
    text-decoration: line-through;
}

.price, .prev-price, .label{
    font-size: 12px;
    padding-right: 5px;
}

.ecoleft{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: green;
}


/* footer */

footer{
    background-color: black;
    color: white;
}

.footerbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* company info */

.companyinfo ul{
    list-style-type: none;
    display: flex;   
}

.companyinfo li > a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-right: 10px;
}


/* contatti */



.footer-icons a > img{
    height: 20px;
}


